
  /* Style the form - display items horizontally */
  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  /* Add some margins for each label */
  .form-inline label {
    margin: 5px 10px 5px 0;
  }

  /* Style the input fields */
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  /* Style the submit button */
  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
  }

  .form-inline button:hover {
    background-color: royalblue;
  }

  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }

    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "title title"
  "header header"
  "sidebar content"
  "footer footer";
  grid-gap: 10px;
}

.title {
  grid-area: title;
}
.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.grid div:nth-child(even) {
  background-color: brown;
}

.grid div:nth-child(odd) {
  background-color: grey;
}

@media screen and (min-width: 736px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    ". title title ."
    ". header header ."
    ". sidebar content ."
    ". footer footer .";
  }
}
