
  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }


  .form-inline label {
    margin: 5px 10px 5px 0;
  }


   .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }


  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
  }

  .form-inline button:hover {
    background-color: royalblue;
  }


   @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }

    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }

.grid {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 1fr 50% 1fr;
  grid-template-areas:
  ". title title ."
  ". header header ."
  ". sidebar content ."
  ". footer footer .";
  grid-gap: 10px;
}

.title {
  grid-area: title;
}
.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.grid div:nth-child(even) {
  background-color: brown;
}

.grid div:nth-child(odd) {
  background-color: grey;
}

@media screen and (min-width: 736px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". title title ."
    ". header header ."
    ". sidebar content ."
    ". footer footer .";
  }
}

.transport-info {

}

h1 {
  text-align: : center;
}

body {
  background: #f8f8f8;
}
  .slider {
    width:300 px;
    overflow: hidden;
  }
  .slide input {
    appearance: none;
    -webkit-appearance: none;
    width:300px;
    height: 6px;
    border-radius: 2px;
    border: 1px solid #ddd;
    outline: none;
    box-shadow: 0 1px 1px #fff, inset 0 1px 1px #ddd;
  }
  .slider input::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px #999;
    position: relative;
  }

  .slider input::-webkit-slider-thumb:before {
    content: '';
    height: 5px;
    position: absolute;
    width: 300px;
    background-color: green;
    right: 20px;
    top: 6px;
  }


* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
